@media (max-width: 1070px){
    .headerdiv1{
        display: none;
    }
}

@media (max-width: 860px){
    ul{
        display: none;
    }
}

@media (max-width:710px){
    .section1div{
        width: 550px ;
        height: 450px;
        position:absolute;
        left: 80px;
        top: 356px;
    }
    
    .section1div h3{
        font-size: 30px; 
    }
    
    .section1div h2{
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 22px;
    }
    
    .section1div h4{
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 20px;
    }
}