@media (max-width:1620px){
    .section6div2{
        flex-direction: column;
        margin-bottom: 0px;
        margin: 0  auto;
        justify-content: center;
        align-items: center;


    }
    .subdiv1{
        margin-bottom: 40px;
    }
}

@media (max-width:1470px){
    .section4box{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .section5{
        display: inline-block;
    }
    .section5div2{
        max-width: 80%;
}


@media (max-width: 1070px){
    .headerdiv1{
        display: none;
    }
    .section3div2{
        display: block;
    }
}

@media (max-width: 860px){
    ul{
        display: none;
    }
    .section5div2 h2{
        font-size: 70px;
    }
    .section5div2 h4{
        font-size: 16px;
    }

    .subdiv1{
        width: 90%;
    }
    .carddiv1{
        width:90%
    }
    .subdiv1 h4{
        width: 90%;
    }
    .subdiv1 h5{
        width: 90%;
    }
}

@media (max-width:710px){
    .section1div{
        width: 550px ;
        height: 450px;
        position:absolute;
        left: 80px;
        top: 356px;
    }
    
    .section1div h3{
        font-size: 30px; 
    }
    
    .section1div h2{
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 22px;
    }
    
    .section1div h4{
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 20px;
    }
}

