@media (max-width:1620px){
    .section6div2{
        flex-direction: column;
        margin-bottom: 0px;
        margin: 0  auto;
        justify-content: center;
        align-items: center;
    }
    .subdiv1{
        margin-bottom: 40px;
    }

    .shapediv{
        position: absolute;
        left: 61px;
        top:4400px
    }

    .section7div2{
        justify-content: space-evenly;
        padding-left: 40px;
        padding-right: 40px;
    }
    .section8div2{
        justify-content: space-evenly;
        padding-left: 40px;
        padding-right: 40px;
    }

    .footerdiv3{
        margin-left: 60px;
        justify-content: space-evenly;
    }




}

@media (max-width:1470px){
    .section4box{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .section5{
        display: inline-block;
    }
    .section5div2{
        max-width: 80%;
    }
    .shapediv{
        position: absolute;
        left: 61px;
        top:4950px
    }
}

@media (max-width:1300px){
    .shape3class{
        display: none;
    }
}


@media (max-width: 1070px){
    .headerdiv1{
        display: none;
    }
    .section3div2{
        display: block;
    }
    .shapediv2 img{
        display: none;
    }
    nav{
        display: none;
    }
}

@media (max-width:907px){
    .shapediv{
        display: none;
    }
}
}

@media (max-width: 860px){
    ul{
        display: none;
    }
    .section5div2 h2{
        font-size: 70px;
    }
    .section5div2 h4{
        font-size: 16px;
    }

    .subdiv1{
        width: 90%;
    }
    .carddiv1{
        width:90%
    }
    .subdiv1 h4{
        width: 90%;
    }
    .subdiv1 h5{
        width: 90%;
    }
    .shape5class{
        display: none;
    }

}

@media (max-width:710px){
    .section1div{
        width: 550px ;
        height: 450px;
        position:absolute;
        left: 80px;
        top: 356px;
    }
    
    .section1div h3{
        font-size: 30px; 
    }
    
    .section1div h2{
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 22px;
    }
    
    .section1div h4{
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 20px;
    }
    .input[type=email]{
        width: 30%;
    }
    .submit1{
        width: 30%;
    }
    .shape5class{
        display: none;
    }

}

@media (max-width:650px){
    .submit1{
        width: 100px;
    }
    .input[type=email]{
        width: 168px;
    }

}

@media (max-width: 500px){
    nav{
        display: none;
    }

    .section1div{
        width: 70%;
    }
    .section1div h3{
        font-size: 30px;
    }
    .section1div h2{
        font-size: 50px;
    }
    .button4{
        width: 90%;
    }
    .section3{
        padding-top: 80px;
    }

    .section3div h5{
        font-size: 16px;
    }
    .section3div h3{
        font-size: 30px;
    }
    .section3div2{
        max-width: 90%;
        padding-bottom: 100px;
    }
    .section4div1{
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section4div1 img{
        width:70%
    }
    .section4div3{
        max-width: 75%;
    }
    .section4h3{
        text-align: center;
        margin-top: 30px;
    }
    .button4{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section3div{
        max-width: 80%;
        margin-left: 30px;
    }

    .section5div2{
        height: 95%;

    }
    .section5div2 h2{
        font-size: 30px;
    }
    .section5div2 h4{
        font-size: 14px
    }
    .subdiv1{
        max-width: 80%;
    }
    .subdiv1 img {
        max-width: 30px;
        height: 30px;
    }

    .subdiv1 h4{
        font-size: 20px;
        margin-top:-50px;
    }

    .subdiv1 h5 {
        font-size: 14px;
        margin-top: 10px;:  !important;
        line-height: 18px;
    }

    .shape5class{
        display: none;
    }
    .footerdiv2{
        max-width: 80%;
    }
    .input[type=email]{
        max-width: 80%px;
    }
    .footersubdiv4{
        width: 381px;
    }
    .footersubdiv5{
        width: 381px;
    }
    .footersubdiv6{
        width: 381px;
        margin-top: 30px;
    }

    .footerdiv5{
        max-width: 90%;
        align-items: center;
    }
    
}
