
.myheader{
    /* background-color: #B28AF8; */
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1005;

}

.headersection{
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color:#B28AF8 ; */
}

.container{
    max-width: 1590px;
    margin: 0 auto;
    
}

.logoclass{
    height: 77px;
    width: 285.38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    width: 723px;
    justify-content: space-between;
    margin-left: 40px;
}

li{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    z-index: 1002;
}

.headerdiv1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.button1{
    height:60px ;
    width: 174px ;
    border-width: 2px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 40px;
    padding-left: 10px;
    display: flex;
    text-align: center; :  !important;
    align-items: center;
    z-index: 1002;
}

.button2{
    font-family: 'Poppins', sans-serif;
    width: 174px ;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
    text-align: center;:  !important;
    color: #ffffff;
    z-index: 1002;
}

.section1{
    background-color: #B28AF8;
    width: 1910px;
    height: 960px;
    position:relative;
    overflow: hidden;:  !important; 
}

.ellipse1{
    width: 1342px;
    height: 1342px;
    position: absolute;
    left: 643px;
    top: -395px;
    opacity: 1.00;
    z-index: 1000;

    
}

.ellipse2{
    width: 1342px;
    height: 1342px;
    position: absolute;
    left: 919px;
    top: -395px;
    opacity: 1.00;
    z-index: 1000;
}


.imageabc{    
    width: 1087px;
    height: 783px;
    position: absolute;
    left:970px;
    top:149px;
    opacity: 1.00;
    z-index: 1004;
}

.section1div{
    width: 556px ;
    height: 450px;
    position:absolute;
    left: 140px;
    top: 356px;
}

.section1div h3{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    font-style: normal;
    text-align: left;
    color: #ffffff; 
}

.section1div h2{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 44px;
}

.section1div h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 43px;
    margin-bottom: 40px;
}

.section2div{

    display: flex;
    justify-content: space-between;
    align-items: center;:  !important;
    text-align: center;:  !important;
}

/* .section2div h3{
    margin: 0 auto;
    width: 300px;
    height: 60px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
    text-align: center;
    color: #b28af8;
    background-color: #FFFFFF;
    display: flex;
    text-align: center;:  !important;
    align-items: center;:  !important;
    margin-right: 20px;
} */



.headerdiv2{
    width: 360PX;
    height: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.button3{
    width: 300px;
    height: 60px;
    border-radius: 40px;
    display: flex;
    text-align: center; :  !important;
    align-items: center;
    z-index: 1002;
    background-color: #FFFFFF;
    margin-right:20px;
}

.button4{
    
    font-family: 'Poppins', sans-serif;
    width: 300px ;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
    text-align: center;:  !important;
    color: #b28af8;
    z-index: 1002;
}

.section2div img{
    width: 60px ;
    height: 60px;
    margin-left: 20px;
}

.section3{
    width:100%;
    background-color: #B28AF8;
    padding-top: 186px;
}

.section3div{

 
}

.section3div h5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    color: #ffffff;
    text-align: center;
}

 .section3div h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    font-style: normal;
    color: #ffffff;
    text-align: center;
}

.section3div2{
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 62px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 180px;
}

.section4{
    width:100%;
    background-color: #B28AF8;
}

.section4box{
    max-width: 1501px;
    height: 652px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section4div1{
    width: 777px;
    height: 652px ;

}
.section4div2{
    width: 102px;
}

.section4div3{
    width: 521px ;
    height: 557px;
}

.section4h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 49px;
}

.section4h4{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom:40px
}

.section4h5{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom:40px
}

.section5{
    width:100%;
    background-color: #B28AF8;
    padding-top: 186px;
    padding-bottom: 180px;
}

.section5div2{
    max-width: 1640px;
    height: 250px;
    margin: 0  auto;
    background-color:#956AE1 ;
    border-radius: 160px;
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section5div2 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.section5div2 h4{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.section6{
    width: 100%;
    height: 100%;
    background-color: #F8F5FF;
    padding-top: 180px;
}

.section6div1{
    margin-bottom: 62px;
}

.section6h5{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    text-align: center;
    color: #8b8399;
    margin: 0 auto;
}

.section6h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    font-style: normal;
    text-align: center;
    color: #51495f;
    margin: 0 auto;
}

.section6div2{
    max-width: 1640px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.subdiv1{
    width: 800px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin-bottom: 40px;
}

.carddiv1{
    width: 647px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subdiv1 img{
    width: 91px;
    height: 91px;
    margin-right: 30px;
    margin-left: 51px;
}

.subdiv1 h4{
    width: 511px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    text-align: left;
    color: #51495f;
    margin-bottom: 10px;
}

.subdiv1 h5{
    width: 511px;
    height: 51px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #51495f;
}

.subdiv2{
    background-color:#B28AF8 ;
    width: 80px;
    height: 80px;
    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    align-self: flex-end;
}

.subdiv2 img{
    width: 26px;
    height: 26px;
}

.section7{
    padding-top: 146px;
    width: 100%;
    height: 100%;
    background-color: #F8F5FF;
}

.shapediv{
    width: 179px;
    height: 179px;
    position: absolute;
    left: 61px;
    top:3870px
}

.section7div2{
    max-width: 1640px;
    height: 381px;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.individualcard{
    width: 380px ;
    height: 381px;
    background-color:#FFFFFF ;
    border-radius: 40px;

}

.section7cd1{
    width: 380px;
    height: 242px;
    background-color: #DCC7FF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section7cd1 img{
    width: 282px ;
    height: 140px;
}


.section7cd2{
    width: 380px;
    height: 242px;
    background-color: #AACBFC;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section7cd2 img{
    width: 236px;
    height: 159px;
}

.section7cd3{
    width: 380px;
    height: 242px;
    background-color: #FFC7E1;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section7cd3 img{
    width: 220px;
    height: 153px;
}
.section7cd4{
    width: 380px;
    height: 242px;
    background-color: #FCFFCE;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section7cd4 img{
    width: 261px ;
    height: 165px;
}

.section7div2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    text-align: left;
    color: #51495f;
    text-align: center;
    margin-top: 44px;
}

.section7div2 h5{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #51495f;
    text-align: center;
    margin-top: 15px;
}

.section7div3{
    display: flex;
    justify-content: space-between;

}

.arrowdiv2{
    width: 120px;px ;
    margin: 0  auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
